body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
}

.container {
    width: 550px;
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    height: 285px;
    width: 550px;
    background: #6943FF;
    margin-top: 33px;   
}

#input-el {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6943FF;
    height: 83px;
    width: 117px;
    border-radius: 5px;
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 58px;
    border: 2px solid #B295FF;
    flex-shrink: 0;
}

#input-btn {
    margin-top: 25px;
    height: 42px;
    width: 117px;
    font-size: 16px;
    font-weight: 500;
    color: #3D3D3D;
    font-family: "Inter", sans-serif;
    border-radius: 5px;
    border: none;
    background: #FFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

}

.unit-container {
    height: 444px;
    width: 550px;
    background: #1F2937;
    gap: 33.6px;
}

.len {
    width: 500px;
    height: 108.5px;
    border-radius: 4.681px 0 0 0;
    background: #273549;
    margin-top: 36px;
    margin-left: 25px;
}

.volume {
    width: 500px;
    height: 108.5px;
    border-radius: 4.681px 0 0 0;
    background: #273549;
    margin-left: 25px;
    margin-top: 23.4px;

}

.mass {
    width: 500px;
    height: 108.5px;
    border-radius: 4.681px 0 0 0;
    background: #273549;
    margin-left: 25px;
    margin-top: 23.4px;
    margin-bottom: 36px;

}

.unit {
    color: #CCC1FF;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-top: 31px;
}

#len-el, #volume-el, #mass-el{
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}